name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build distributions
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
          rm -rf dist
          python -m build

      - name: Publish to GitHub Packages (PyPI)
        env:
          GH_PAT: ${{ secrets.GH_PAT }}   # PAT classic avec read:packages + write:packages
        run: |
          python -m twine upload \
            --repository-url https://api.github.com/orgs/ORU-PACA/packages/pypi/upload \
            -u ${{ github.actor }} \
            -p "${GH_PAT}" \
            dist/*
