name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  release-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Build release distributions
        run: |
          python -m pip install build
          rm -rf dist
          python -m build
      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      contents: read
      packages: write  # Autorise la création du package sur GitHub

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to GitHub Packages
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
          # FORCE la destination vers votre organisation
          repository-url: https://pypi.pkg.github.com/ORU-PACA/
          # Utilise le jeton généré automatiquement par GitHub
          password: ${{ secrets.GITHUB_TOKEN }}