name: Upload Python Package to GitHub Packages

on:
  release:
    types: [published]

jobs:
  # Job de construction du package
  release-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        run: |
          python -m pip install --upgrade pip
          python -m pip install build
          # Nettoyage des anciens builds pour éviter les fichiers 'unknown'
          rm -rf build/ dist/ *.egg-inf
          python -m build
          twine check dist/*

      - name: Upload distributions as artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  # Job de publication vers GitHub Packages
  pypi-publish:
    runs-on: ubuntu-latest
    needs: release-build
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish to GitHub Packages
        uses: pypa/gh-action-pypi-publish@v1
        with:
          packages-dir: dist/
          # Note : Le slash final '/' après le repository est crucial pour éviter l'erreur 404
          repository-url: https://pypi.pkg.github.com/${{ github.repository_owner }}/
          attestations: false